<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  {{ getIntroduction('navBarUser') }}>
        {{ user_avatar(user.avatar, user.username, "user-image") }}
        <span class="hidden-xs">{{ user.userName }} ({{ user.loginName }})</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            {{ user_avatar(user.avatar, user.userName) }}
            <p>
                {{ user.userName }}
                {% if user.memberSince %}
                    <small>Member since {{ user.memberSince|date('d.m.Y') }}</small>
                {% endif %}
            </p>
        </li>
        {% if user.info %}
            <li class="user-body">
                <div class="col-xs-12 text-center">
                    {{ user.info|raw }}
                </div>
            </li>
        {% endif %}
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path_for("sbs_adminlte_user_profile") }}"
                   class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="{{ path_for('logout') }}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
