{% import "adminlte/layout/main_macros.html.twig" as macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Slimer{% endblock %}</title>
    {# Tell the browser to be responsive to screen width. #}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ base_url() }}/favicon.ico"/>
    {% block corestyles %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/adminlte/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/adminlte/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/adminlte/AdminLTE.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/adminlte/_all-skins.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/showLoading.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/app.css"/>  
    {% endblock %}
    {# Use standard twig block stylesheets to include CSS that is used on single page. #}
    {% block stylesheets %}{% endblock %}
    {% block corejs %}
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/jquery.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/fastclick.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/adminlte.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/bootbox.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/adminlte/vue.min.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/float-panel.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/jquery.showLoading.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/app/Static/js/app.js"></script>
    {% endblock %}
    {% block javascripts_head %}{% endblock %}

</head>
<body class="hold-transition {{ admin_lte_skin|default('skin-blue') }} sidebar-mini login-page {{ sidebar_collapse(container.session) }}">
{% block inner_body %}
    <div class="wrapper">
        {% block admin_lte_header %}
            <header class="main-header">
                {% block admin_lte_logo %}
                    <a href="#" class="logo" {{ getIntroduction('app') }}>
                        <span class="logo-mini"><b>{{ container.suit_config.__invoke('suit.project_name','Slimer') }}</b></span>
                        <span class="logo-lg"><b>{{ container.suit_config.__invoke('suit.project_name','Slimer') }}</b>Portal</span>
                    </a>
                {% endblock %}
                {# Header Navbar: style can be found in header.less #}
                <nav class="navbar navbar-static-top" role="navigation">
                    {{ sidebar_toggle_button() }}
                    {% if container.user is not null %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                {% block admin_lte_navbar %}
                                    {{ nav_bar_actions() }}
                                    {{ nav_bar_notifications() }}
                                    {{ nav_bar_tasks() }}
                                    {{ nav_bar_user_account() }}
                                {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </header>
        {% endblock %}
        
        {# Left side column. Contains the logo and sidebar: style can be found in sidebar.less #}
        <aside class="main-sidebar">
            <section class="sidebar">
              <div id="siderbar">
                  <form action="#" method="get" class="sidebar-form">
                    <div class="input-group"  {{ getIntroduction('quickSearch') }}>
                      <input type="text" class="form-control" placeholder="Search..." v-model="searchItem">
                      <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                          </span>
                    </div>
                  </form>
                {% block admin_lte_sidebar %}
                    {% if container.user is not null %}
                        {{ sidebar_menu(container.request) }}
                    {% endif %}
                {% endblock %}
                <ul class="treeview-menu" data-widget="tree" :style="searchMenuDisplay">
                	<div v-for="item in searchMenuList">
                	  <div v-if="contains(item.label)">
                	    <li><a :href="item.route"><i :class="item.icon"></i> ${item.label}</a></li>
                	  </div>
                    </div>
                </ul>
            </div>
                <script>
                	var vm = new Vue({
                		delimiters: ['${', '}'],
						el: '#siderbar',
						data: {
							searchItem: '',
							menuList: {{ container.suit_config.__invoke('menu') | json_encode | raw }},
							searchMenuList: []
						},
						filters: {
							  
						},
						computed:{
							menuDisplay: function(){
								if (this.searchItem.length>0){
									return "display:none";
								}else{
									return "display:block";
								}
							},
							searchMenuDisplay:function(){
								if (this.searchItem.length>0){
									return "display:block";
								}else{
									return "display:none";
								}
							},
						},
						methods: {
							pickSearchMenus: function(item){
								 if (item.route != null && item.route.length >0){
									 this.searchMenuList.push(item);
							     }else{
								     if (item.children !=null && item.children.length>0){
										 for (var i=0;i<item.children.length;i++){
											 this.pickSearchMenus(item.children[i]);
									     }
									 }
								 }
							},
							contains: function (value) {
						    	return value.toLowerCase().includes(this.searchItem.toLowerCase()) ? true : false;
						  	}	
						},
						created: function () {
							this.menuDisplay="display:block";
							for (var i=0;i<this.menuList.length;i++){
								 this.pickSearchMenus(this.menuList[i]);
						    }
						}
                	});
                </script>
            </section>
        </aside>
        {# Content wrapper. Contains the content of the page. #}
        <div class="content-wrapper">
            {% block content %}
                <section class="content-header">
                    {% block header_content %}
                        {{ macros.page_header("Page Title", "Description of Page") }}
                    {% endblock %}
                    {% block admin_lte_breadcrumb %}{% endblock %}
                </section>
                <div id="loading">
                <section class="content">
                    {{ include("adminlte/layout/flash_message.html.twig") }}
                    {% block page_content %}{% endblock %}
                </section>
                </div>
            {% endblock %}
        </div>
        {% block admin_lte_footer %}
            <footer class="main-footer">
                <div class="pull-right hidden-xs"><b>Version</b> {{ getVersion() | default("1.0.0") }} &nbsp; {{ getCommitId() }}</div>
                <strong>Copyright &copy; All rights reserved. since 2018 <a href="#">Web Admin|Privacy Practices</a>.</strong>
                All rights reserved.
            </footer>
        {% endblock %}
    </div>
{% endblock %}
<div id="backtop" class="sigma-copyright col-lg-4 single-page-nav text-right back-to-top">
   <a href="#top">&#9650;</a>
</div>
{# Use standard twig block javascripts to include JS that is used on single page. #}
{% block javascripts %}{% endblock %}
</body>
</html>
