{% extends 'adminlte/layout/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/bootstrap-table.min.css"/>
{% endblock %}

{% block header_content %}
    {{ macros.page_header("Admin", "Group manage") }}
{% endblock %}

 {% block admin_lte_breadcrumb %}
       <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-group"></i> Home</a></li>
        <li class="active">Group management</li>
      </ol>
 {% endblock %}

{% block page_content %}
	<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <i class="fa fa-users"></i>
    <h3 class="box-title">Group management</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
              title="Collapse">
        <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body" style="min-height:560px; height:auto!important;margin: 0 auto;">
  <div class="row">
      <div class="col-md-12">
           <div id="toolbar">
      			   <button type="button" class="btn btn-primary" id="addBtn" data-toggle="modal" data-target="#modal-add"><i class="fa fa-user"></i> &nbsp;new group</button>
      	   </div>
      	   <table id="table"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-search="true"
                   data-query-params="queryParams"
                   data-toolbar="#toolbar"
                   data-click-to-select="true">
                <thead>
                <tr>
                    <th data-field="ID"  data-width="5%">id</th>
                    <th data-field="Name">group name</th>
                    <th data-field="Title">group title</th>
                    <th data-field="Roles" data-formatter="roleFormatter" data-width="30%">roles</th>
                    <th data-field="Type">type</th>
                    <th data-field="action"
                        data-align="center"
                        data-formatter="actionFormatter"
                        data-events="actionEvents"
                        data-width="10%">Action</th>
                </tr>
                </thead>
            </table>
       </div>
   </div><!-- /. .row -->
       <div class="modal fade" id="modal-add" data-keyboard="false" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Group add</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                	<form id="groupAddForm" class="form-horizontal" method="POST" action="{{  path_for('admin-add_group') }}">
                            <div class="form-group">
                              <label for="inputEmail3" class="col-sm-4 control-label">name:</label>
                              <div class="col-sm-4">
                                <input type="input" class="form-control" id="Name" name="Name" value=""/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-4 control-label">title</label>
                              <div class="col-sm-4">
                                <input type="input" class="form-control" id="Title" name="Title" value=""/>
                              </div>
                            </div>
                      </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        
       <div class="modal fade" id="modal-grouproles">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Role List</h4>
              </div>
              <div class="modal-body">
                <div class="row" id="roleListDiv">
                	
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
    </div>
  <!-- /.box-body -->

  <!-- /.box-footer-->
</div>
 <!-- /.box -->

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/tmpl.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/jquery.validate.min.js"></script>
<script type="text/x-tmpl" id="action-html">
<div class="row">
<a class="btn"  href="/admin/editgroup/{&=o.row.ID&}" title="Update Item"><i class="fa fa-edit"></i></a>
<a class="btn"  href="javascript:deleteItem({&=o.row.ID&},'{&=o.row.Name&}')" title="Delete Item"><i class="fa fa-trash"></i></a>
</div>
</script>
<script type="text/x-tmpl" id="col-roles-html">
 {&=o.resultPref&}...<a class='btn' href="javascript:detail('{&=o.index&}')">(See all)</a>
</script>

<script type="text/x-tmpl" id="role-table-html">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<table class="table table-striped">
     <tr>
        <th style="width: 10px">#</th>
        <th>Role Name</th>
		<th>Role Desc</th>
     </tr>
{& for (var i=0; i<o.roles.length; i++) { &}
     <tr>
         <td>{&=i + 1 &}.</td>
         <td>{&=o.roles[i].Title &}</td>
		 <td>{&=o.roles[i].Description &}</td>
     </tr>
{& } &}
</table>
</div>
</div>
</script>

<script>

function actionFormatter(value, row, index, field){
	return tmpl("action-html",{"row":row});
}

function roleFormatter(value, row, index, field) {

	var num = value.length;
	var result = num + "|";
	for (var i=0;i<num;i++){
		result+=value[i].Title+",";
	}
	result.substring(0,num-1);
	//if (result.length > 30){
		return tmpl("col-roles-html",{"resultPref":result.substring(0,30),"index":index});
	//}
	//return result;
}

function queryParams(params){
	return params;
}

function deleteItem(id,name){
	bootbox.confirm({
	    message: "Do you want to confirm delete this group=" + name,
	    buttons: {
	        confirm: {
	            label: '<i class="fa fa-check"></i> Confirm',
	            className: 'btn-success'
	        },
	        cancel: {
	            label: '<i class="fa fa-times"></i> Cancel',
	            className: 'btn-danger'
	        }
	    },
	    callback: function (result) {
	        if (result){
				$.ajax({
					type: "DELETE",
					cache: false,
					url: "{{ path_for('admin-del_group')}}",
					data: {"id":id,"name":name}, 
					success: function (data,status){
						//----reflush
						window.location.reload();
					},
					error: function (data, status, e){
						bootbox.alert(e);
					}
				});
		    }else{
				
			}
	    }
	});
	
}

function detail(id){
	var $innerHtml = tmpl("role-table-html",{"roles":$('#table').bootstrapTable('getData')[id].Roles});
	$("#roleListDiv").html($innerHtml);
	$("#modal-grouproles").modal();
	
};

$(function () {

	$("#groupAddForm").validate({
		errorElement: 'div',
		errorClass: 'help-block',
		focusInvalid: false,
		onclick: true,
		onkeyup: true,
		onblur: true,
		rules: {
			name: {required: true},
			title: {required: true},
		},
		messages: {

		},
		highlight: function (e) {
			$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
		},
		success: function (e) {
			$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
			$(e).remove();
		},
		errorPlacement: function (error, element) {  //----error placement
			error.appendTo($(element).closest('.form-group >.col-sm-4'));
		}
		
	});
	$table = $('#table').bootstrapTable(
			{
				url: "{{path_for('admin-get_groups')}}",
				sidePagination: "server",
				pagination: true,
				pageSize: 10,
				pageNumber: 1,
				pageList:[10,20,50,100],
				smartDisplay: false
   			}
	);
	$('#modal-add').on('show.bs.modal', function (e) {
		  $("#groupAddForm").data('validator').resetForm();
		  $('#Name').val(null);
		  $('#Title').val(null);
    });

	$('#submitBtn').on('click',function(){
		if ($('#groupAddForm').valid()) {
			$('#groupAddForm').submit();
		}
	});

});
</script>
{% endblock %}
