{% extends 'adminlte/layout/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/password_strength.css"/>
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/app/Static/css/multi-select.css"/>
{% endblock %}

{% block header_content %}
    {{ macros.page_header("Admin", "group edit") }}
{% endblock %}

 {% block admin_lte_breadcrumb %}
       <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Group edit</li>
      </ol>
 {% endblock %}

{% block page_content %}
	<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <i class="fa fa-info"></i>
    <h3 class="box-title">Group edit: {{ group.Name }}</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
              title="Collapse">
        <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body" style="min-height:560px; height:auto!important;margin: 0 auto;">
  <div class="row">
      <div class="col-md-12">
        	  <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Basic Info</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                   <div class="row">
                  		<div class="col-md-10">
                    		<form id="groupinfoForm" class="form-horizontal" method="post" action="{{ path_for('admin-groupinfo_edit') }}">
                                  <div class="box-body">
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">group name:</label>
                                      <div class="col-sm-6">
                                        <input type="input" class="form-control" id="name" name="name" value="{{ group.Name }}" {% if group.Type == 'ldap' %}disabled{% endif %}/>
                                      </div>
                                    </div>
                                     <div class="form-group">
                                      <label for="inputPassword3" class="col-sm-4 control-label">group description:</label>
                                      <div class="col-sm-6">
                                        <input type="input" class="form-control" id="title" name="title" value="{{ group.Title }}" {% if group.Type == 'ldap' %}disabled{% endif %}/>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputPassword3" class="col-sm-4 control-label">group type:</label>
                                      <div class="col-sm-6">
                                        <input type="input" class="form-control" value="{{ group.Type }}" disabled/>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputPassword3" class="col-sm-4 control-label">group all permissions:</label>
                                      <div class="col-sm-6">
                                        	<table class="table table-striped">
                                                 <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Title</th>
                                            		<th>Description</th>
                                                 </tr>
                                                {%   for child in  group.perms%}
                                                     <tr>
                                                         <td>{{ loop.index  }}.</td>
                                                         <td>{{   child.Title }}</td>
                                                		 <td>{{   child.Description }}</td>
                                                     </tr>
                                                {% endfor %}
                                            </table>
                                      </div>
                                    </div>
                                        
                                  </div>
                                  <!-- /.box-body -->
                                  <!-- /.box-footer -->
                                  {% if group.Type == 'local' %}
                                  <div class="row">
                                       <div class="box-footer">
                                        <div class="col-md-2 col-md-offset-4">
                                        	<button type="button" class="btn btn-success" id="groupinfoSubmitBtn">Change</button>
                                        </div>
                                        <div class="col-md-2">
                                        	<button type="button" class="btn btn-info pull-right" id="resetBtn">Refresh</button>
                                        </div>
                                        </div>
                                  </div>
                                  {% endif %}
                              </form>
                        </div>
                  	</div>
                  </div>
                </div>
              </div>
      </div>
  </div>
  <!--group roles change -->
  <div class="row">
      <div class="col-md-12">
        	  <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Change group roles</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                   <div class="row">
                  		<div class="col-md-10">
                  		   <div class="box-body">
                  		   <div class="form-group col-md-offset-4">
                    		<select id="roleSelector" multiple='multiple' name="userGroups">
                                  {% for role in roles %}
                                  		<option value="{{ role.ID }}" {% if role.ID in group.roles %} selected {% endif %}>{{ role.Title }}</option>
                                  {% endfor %}                    		
                    		</select>
                    		</div>
                    		</div>
                    		<div class="box-footer">
                            	<div class="row">
                                    <div class="col-md-2 col-md-offset-4">
                                    	<button type="button" class="btn btn-success" id="roleSelectSubBtn">Change</button>
                                    </div>
                                     <div class="col-md-2">
                                    	<button type="button" class="btn btn-info pull-right" id="roleSelectRefreshBtn">Refresh</button>
                                    </div>
                                 </div>
                             </div>
                        </div>
                  	</div>
                  </div>
                </div>
              </div>
      </div>
  </div>
  
  <!--group users change -->
  <div class="row">
      <div class="col-md-12">
        	  <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Change group users</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                   <div class="row">
                  		<div class="col-md-10">
                  		   <div class="box-body">
                  		   <div class="form-group col-md-offset-4">
                    		<select id="userSelector" multiple='multiple' name="groupUsers" {% if group.Type == 'ldap' %}disabled='disabled'{% endif %}>
                                  {% for user in users %}
                                  		<option value="{{ user.id }}" {% if user.id in group.users %} selected  {% endif %} {% if group.Type == 'ldap' %}disabled{% endif %}>{{ user.loginName }}({{ user.userName }})</option>
                                  {% endfor %}                    		
                    		</select>
                    		</div>
                    		</div>
                    		{% if group.Type == 'local' %}
                    		<div class="box-footer">
                            	<div class="row">
                                    <div class="col-md-2 col-md-offset-4">
                                    	<button type="button" class="btn btn-success" id="userSelectSubBtn">Change</button>
                                    </div>
                                     <div class="col-md-2">
                                    	<button type="button" class="btn btn-info pull-right" id="userSelectRefreshBtn">Refresh</button>
                                    </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                  	</div>
                  </div>
                </div>
              </div>
      </div>
  </div>
  
  </div>
  <!-- /.box-body -->

  <!-- /.box-footer-->
</div>
 <!-- /.box -->

{% endblock %}
 
{% block javascripts %}
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/password_strength.js"></script>
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="{{ base_url() }}/app/Static/js/jquery.quicksearch.min.js"></script>
<script>

function roleSelectAll(){
	$('#roleSelector').multiSelect('select_all');
}
function roleDeselectAll(){
	$('#roleSelector').multiSelect('deselect_all');
}

function userSelectAll(){
	$('#userSelector').multiSelect('select_all');
}
function userDeselectAll(){
	$('#userSelector').multiSelect('deselect_all');
}
$(function () {

	$("#groupinfoForm").validate({
		errorElement: 'div',
		errorClass: 'help-block',
		focusInvalid: false,
		onclick: false,
		onkeyup: true,
		onblur: true,
		rules: {
			name: {required: true},
			title: {required: true},
		},
		messages: {
			
		},
		highlight: function (e) {
			$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
		},
		success: function (e) {
			$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
			$(e).remove();
		},
		errorPlacement: function (error, element) {  //----error placement
			error.appendTo($(element).closest('.form-group >.col-sm-6'));
		}
		
	});

	$('#groupinfoSubmitBtn').on('click',function(){
		if ($('#groupinfoForm').valid()) {
			$.ajax({
				type: "POST",
				cache: false,
				url: "{{path_for('admin-groupinfo_edit')}}",
				data: {"name": $('#name').val(),"title": $('#title').val(),"id": {{ group.ID }} },
				success: function (data,status){
					bootbox.alert(data.data.message);
				},
				error: function (data, status, e){
					if (typeof(data.responseJSON.error) !== "undefined" ){
						bootbox.alert(data.responseJSON.error);
					}else{
	    				bootbox.alert(e);
					}
				}
			});
			
		}else{
			bootbox.alert("error");
		}
	});

	$('#resetBtn').on('click',function(){
		window.location.reload();
	});

	$('#roleSelector').multiSelect({
		selectableHeader: '<input type="input" style="width:166px;margin-bottom:2px" placeholder="Source roles"></input>',
		selectionHeader: '<input type="input" style="width:166px;margin-bottom:2px" placeholder="Target roles"></input>',
		selectableFooter: "<a class='btn' onclick='roleSelectAll();return false;'>select all<i class='fa fa-hand-o-right'></i></a>",
		selectionFooter: "<a class='btn' onclick='roleDeselectAll();return false;'><i class='fa fa-hand-o-left'></i>deselect all</a>",
		keepOrder: true,
		dblClick: false,
		afterInit: function(ms){
			var that = this,
    	        $selectableSearch = that.$selectableUl.prev(),
    	        $selectionSearch = that.$selectionUl.prev(),
    	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
    	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
    
    	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                	    .on('keydown', function(e){
                	      if (e.which === 40){
                	        that.$selectableUl.focus();
                	        return false;
                	      }
                	    });
    	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                	    .on('keydown', function(e){
                	      if (e.which == 40){
                	        that.$selectionUl.focus();
                	        return false;
                	      }
                	    });
		},
	   afterSelect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  },
	  afterDeselect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  }
	});

	$('#roleSelectRefreshBtn').on('click',function(){
		var defaultGroups = {{ group.roles | json_encode | raw}};
		$('#roleSelector').multiSelect('deselect_all');
		$('#roleSelector').multiSelect('select',defaultGroups);
	});
	$('#roleSelectSubBtn').on('click',function(){
		$.ajax({
			type: "POST",
			cache: false,
			url: "{{path_for('admin-grouprole_edit')}}",
			data: {"selected": $('#roleSelector').val(),"id": {{ group.ID }} }, 
			success: function (data,status){
				bootbox.alert(data.data.message);
			},
			error: function (data, status, e){
				if (typeof(data.responseJSON.error) !== "undefined" ){
					bootbox.alert(data.responseJSON.error);
				}else{
    				bootbox.alert(e);
				}
			}
		});
	});


	$('#userSelector').multiSelect({
		selectableHeader: '<input type="input" style="width:166px;margin-bottom:2px" placeholder="Source users"></input>',
		selectionHeader: '<input type="input" style="width:166px;margin-bottom:2px" placeholder="Target users"></input>',
		selectableFooter: "<a class='btn' {% if group.Type == 'ldap' %}disabled{% endif %} onclick='userSelectAll();return false;'>select all<i class='fa fa-hand-o-right'></i></a>",
		selectionFooter: "<a class='btn' {% if group.Type == 'ldap' %}disabled{% endif %} onclick='userDeselectAll();return false;'><i class='fa fa-hand-o-left'></i>deselect all</a>",
		keepOrder: true,
		dblClick: false,
		afterInit: function(ms){
			var that = this,
    	        $selectableSearch = that.$selectableUl.prev(),
    	        $selectionSearch = that.$selectionUl.prev(),
    	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
    	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
    
    	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                	    .on('keydown', function(e){
                	      if (e.which === 40){
                	        that.$selectableUl.focus();
                	        return false;
                	      }
                	    });
    	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                	    .on('keydown', function(e){
                	      if (e.which == 40){
                	        that.$selectionUl.focus();
                	        return false;
                	      }
                	    });
		},
	   afterSelect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  },
	  afterDeselect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  }
	});
	
	{% if group.Type == 'local' %}
	$('#userSelectRefreshBtn').on('click',function(){
		var defaultGroups = {{ group.users | json_encode | raw}};
		$('#userSelector').multiSelect('deselect_all');
		$('#userSelector').multiSelect('select',defaultGroups);
	});
	$('#userSelectSubBtn').on('click',function(){
		$.ajax({
			type: "POST",
			cache: false,
			url: "{{path_for('admin-groupuser_edit')}}",
			data: {"selected": $('#userSelector').val(),"id": {{ group.ID }},"type":"{{ group.Type}}" }, 
			success: function (data,status){
				bootbox.alert(data.data.message);
			},
			error: function (data, status, e){
				if (typeof(data.responseJSON.error) !== "undefined" ){
					bootbox.alert(data.responseJSON.error);
				}else{
    				bootbox.alert(e);
				}
			}
		});
	});
	{% endif %}
	
});
</script>
{% endblock %}


